@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Voiteq</h1>
    <p class="lead">Voiteq is a leading global provider of voice-directed work solutions, with offices in the UK, France, Germany and the US.</p>
    <p><a href="https://www.voiteq.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our website</h2>
        <p>
            Voice Technology is our core business and we’ve helped customers across the world reap the benefits of utilising a hands free, eyes free solution. We have the largest team of Honeywell certified Vocollect voice specialist. Supplying hardware, software and support services to improve your operations. Our products include our award winning VoiceMan Warehouse Execution System
            and VoiceMan Data Analysis, our business intelligence tool.
        </p>
        <p><a class="btn btn-default" href="https://www.voiteq.com/">Visit &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Voiteq in the news</h2>
        <p>Global Voice-Directed Warehousing Solutions Market Projected to Grow at 14.4%.</p>
        <p><a class="btn btn-default" href="https://theexpertconsulting.com/global-voice-directed-warehousing-solutions-market-projected-to-grow-at-14-4-cagr-and-reach-us-2-5-bn-by-2025/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Entrepreneur Of The Year</h2>
        <p>
            David Stanhope, chief executive of Voiteq North finalist for the EY Entrepreneur Of The Year awards 2018.
        </p>
        <p><a class="btn btn-default" href="https://www.blackpoolgazette.co.uk/news/business/fylde-coast-business-leaders-in-entrepreneur-awards-finals-1-9130042">Learn more &raquo;</a></p>
    </div>
</div>